fastapi
uvicorn[standard]
python-multipart
pydantic>=2.7.0
pydantic-settings
python-dotenv
pypdf
docx2txt
langchain
langchain-community
langchain-google-genai
sentence-transformers
faiss-cpu
rank_bm25
google-generativeai
numpy
python-jose
httpx