fastapi
uvicorn[standard]
python-multipart
pydantic>=2.7.0
pydantic-settings
python-dotenv
pypdf
docx2txt
langchain
langchain-community
groq
sentence-transformers
faiss-cpu
rank_bm25
numpy
python-jose
httpx